* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #121212;
    color: #e0e0e0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #1e1e1e;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #ffffff;
}

/* Flash message styles */
.flash-message {
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
}

.flash-message.success {
    background-color: #4CAF50;
    color: #ffffff;
}

.flash-message.error {
    background-color: #f44336;
    color: #ffffff;
}

label {
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="tel"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #222020;
    border-radius: 4px;
    background: #373c40;
    color: #ffffff;
    font-size: 14px;
}

.eddit{
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
}
.add {
    background-color: #28A745;;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
}

.add:hover{
    background-color: #03731c;
}
.eddit:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #858484;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}