/* JobOffre list Style */

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #f5f5f5;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.alert-success {
    background-color: #28a745;
    color: #fff;
}
.alert-danger {
    background-color: #dc3545;
    color: #fff;
}
.job-offers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.job-offer-card {
    background-color: #2a2a2a;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 10px;
    width: 300px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
    text-align: center;
}
.job-offer-card h3 {
    margin-top: 0;
    color: #ffcc00;
    font-size: 1.2em;
}
.job-offer-card p {
    margin: 5px 0;
    font-size: 0.9em;
}
.posted-date {
    font-size: 10px;
    color: #bbb;
    margin-bottom: 10px;
}
.card-actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
.btn {
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 12px;
    color: white;
    display: flex;
    align-items: center;
    margin: 0 3px;
    transition: background-color 0.3s, transform 0.2s;
}
.btn-primary {
    background-color: #007bff;
}


.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
.btn-secondary {
    background-color: #6c757d;
}
.btn-secondary:hover {
    background-color: #5a6268;
    transform: scale(1.05);
}
.btn-danger {
    background-color: #dc3545;
}
.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    width: 100%;
}

.btn-danger:hover {
    background-color: #c82333;
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .job-offer-card {
        width: 90%;
    }
    .btn {
        font-size: 11px;
    }
}