
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #121212;
    color: #e0e0e0;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background: #1e1e1e;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #ffffff;
}

/* Flash message styles */
.flash-message {
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
}

.flash-message.success {
    background-color: #4CAF50;
    color: #ffffff;
}

.flash-message.error {
    background-color: #f44336;
    color: #ffffff;
}


.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 16px;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px;
    border-bottom: 1px solid #444;
}

.styled-table thead {
    background-color: #333;
    color: #FFFFFF;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #222;
}

.styled-table tbody tr:hover {
    background-color: #444;
    cursor: pointer;
}

.action-btn {
    padding: 8px 12px;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    margin: 0 3px;
    transition: background-color 0.3s;
}

.edit-btn {
    background-color: #007BFF;
}

.delete-btn {
    background-color: #DC3545;
}

.add-btn {
    background-color: #28A745;
}

.edit-btn:hover {
    background-color: #0056b3;
}

.delete-btn:hover {
    background-color: #c82333;
}

.add-btn:hover {
    background-color: #218838;
}


.add-new-btn {
    justify-content: flex-end;
    text-align: end;
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .styled-table {
        font-size: 14px;
    }

    .styled-table th, .styled-table td {
        padding: 8px;
    }

    .action-btn {
        padding: 6px 10px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
    }

    .styled-table {
        font-size: 12px;
    }
}


